html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.clearfix {
  *zoom: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap {
  width: 7.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html,
body {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 7.5rem;
}
.swiper-slide {
  width: 3.75rem;
}
.swiper-slide > img {
  width: 7.5rem;
}
.swiper-slide > span {
  width: 2rem;
  line-height: 0.8rem;
  background-color: #7ed2b0;
  position: absolute;
  font-size: 0.3rem;
  text-align: center;
  bottom: 3.24rem;
  left: 2.7rem;
  font-weight: inherit;
  border-radius: 0.3rem;
}
.swiper-slide > span > a {
  text-decoration: none;
  color: #fff;
}
