html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.clearfix {
  *zoom: 1;
}
.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
}
header {
  position: fixed;
  top: 0;
  background-image: url(../images/u48.png);
  background-repeat: no-repeat;
  width: 7.5rem;
  padding-top: 0.15rem;
}
.sun {
  width: 0.96rem;
  padding-top: 0.54rem;
  margin-left: 0.2rem;
  padding-bottom: 0.2rem;
  background-image: url(../images/sun_01.png);
  background-repeat: no-repeat;
  background-size: 0.96rem 0.54rem;
  float: left;
}
.wenzi {
  margin-left: 2.31rem;
  width: 0.59rem;
  padding-bottom: 0.49rem;
  float: left;
  background-image: url(../images/wenzi_03.png);
  background-repeat: no-repeat;
  background-size: 0.59rem 0.49rem;
}
.search {
  width: 0.33rem;
  padding-bottom: 0.31rem;
  float: right;
  background-image: url(../images/search_06.png);
  background-repeat: no-repeat;
  background-size: 0.33rem 0.31rem;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
}
.banner {
  width: 7.5rem;
  padding-bottom: 4.33rem;
  background-image: url(../images/u153_02.jpg);
  background-repeat: no-repeat;
  background-size: 7.5rem 4.33rem;
}
section {
  width: 7.5rem;
  overflow: auto;
}
.kongbai {
  margin-top: 0.89rem;
}
.s-top {
  margin-top: 0.244rem;
  width: 7.01rem;
  margin-left: 0.24rem;
  overflow: hidden;
  box-shadow: 0.04rem 0.06rem 0.2rem 0px #ccc inset;
  margin-bottom: 0.4rem;
}
.s-top > a {
  text-decoration: none;
  line-height: 0.34rem;
  display: block;
  float: left;
  padding-top: 0.23rem;
  padding-bottom: 0.48rem;
}
.s-top > a:nth-child(1) > span {
  margin-left: 0.66rem;
  margin-right: 1.01rem;
}
.s-top > a:nth-child(2) > span {
  margin-right: 0.94rem;
}
.s-top > a:nth-child(3) > span {
  margin-right: 0.89rem;
}
.s-top > a:nth-child(4) > span {
  margin-right: 0.95rem;
}
.text-one {
  border-bottom: 0.17rem solid #f8f8f8;
  padding: 0 0.24rem 0 0.24rem;
  overflow: hidden;
  background-image: url(../images/u15123_05.jpg);
  background-repeat: no-repeat;
  background-position: 6.7rem 0;
  background-size: 0.5rem 0.5rem;
}
.text-two {
  border-bottom: 0.17rem solid #f8f8f8;
  padding: 0 0.24rem 0 0.24rem;
  overflow: hidden;
  background-image: url(../images/u153111_13.jpg);
  background-repeat: no-repeat;
  background-position: 6.7rem 0;
  background-size: 0.5rem 0.5rem;
}

.t-up > h6,
.w-up > h6 {
  width: 1.7rem;
  font-size: 0.16rem;
  border-left: 2px solid #28b9ac;
  color: #28b9ac;
  float: left;
  margin-bottom: 0.5rem;
  margin-top: 3px;
}
.t-up > h5,
.w-up > h5 {
  float: right;
  font-size: 0.16rem;
  margin-bottom: 0.5rem;
  margin-right: 0.6rem;
  margin-top: 0.03rem;
}
.pic,
.w-pic {
  width: 3rem;
  padding-left: 0.13rem;
  float: left;
}
.pic > h4,
.w-pic > h4 {
  width: 3.34rem;
  font-size: 0.3rem;
}
.pic > p,
.w-pic > p {
  font-size: 0.18rem;
  color: #6a6a6a;
  line-height: 0.43rem;
  margin-top: 0.27rem;
  margin-bottom: 0.7rem;
}
.pic > h6,
.w-pic > h6 {
  width: 1.7rem;
  font-size: 0.16rem;
  color: #ccc;
  float: left;
}
.pic-right,
.w-pic-right {
  width: 3.5rem;
  float: right;
}
.pic-right > img,
.w-pic-right > img {
  display: block;
  width: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.7rem;
}
.pic-right > h6,
.w-pic-right > h6 {
  float: left;
  font-size: 0.18rem;
}
.pic-right > h6:nth-child(2),
.w-pic-right > h6:nth-child(2) {
  margin-left: 0.8rem;
}
.pic-right > h6:nth-child(3),
.w-pic-right > h6:nth-child(3) {
  margin-left: 0.3rem;
}
.pic-right > h6:nth-child(4),
.w-pic-right > h6:nth-child(4) {
  margin-left: 0.3rem;
}
footer {
  width: 7.5rem;
  background-color: #fff;
  position: fixed;
  line-height: 0.93rem;
  bottom: 0;
}
footer > a {
  text-decoration: none;
}
footer > a > img {
  margin-bottom: 0.14rem;
}
footer > a:nth-child(1) > img {
  margin-left: 0.54rem;
  width: 0.5rem;
}
footer > a:nth-child(2) > img {
  margin-left: 0.6rem;
  width: 0.5rem;
}
footer > a:nth-child(3) > img {
  width: 0.8rem;
  margin-left: 0.56rem;
}
footer > a:nth-child(4) > img {
  width: 0.5rem;
  margin-left: 0.6rem;
}
footer > a:nth-child(5) > img {
  width: 0.5rem;
  margin-left: 0.7rem;
}
